app_prod.db
app_dev.db
app.db
data/
.env
.pids/
.logs/
.venv*/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
kanban/
/docs/superpowers/plans
/.superpowers/
/anything_to_anki.egg-info
/.superpowers/brainstorm/15821-1775418982
.worktrees/
