vocabminer.db
vocabminer_dev.db
data/
.pids/
.logs/
.venv*/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
kanban/
/docs/superpowers/plans
/.superpowers/
/vocabminer.db
/anything_to_anki.egg-info
/.superpowers/brainstorm/15821-1775418982
